
@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!--main-->
<main class="main">
    <div class="wrap">
        <!--breadcrumbs-->
        <nav class="breadcrumbs">
            <!--crumbs-->
            <ul>
                <li><a href="#" title="Home">Home</a></li>
                <li><a href="#" title="Hotels">Hotels</a></li>
                <li><a href="#" title="United Kingdom">United Kingdom</a></li>
                <li><a href="#" title="London">London</a></li>
                <li>Best ipsum hotel</li>
            </ul>
            <!--//crumbs-->
            <!--top right navigation-->
            <ul class="top-right-nav">
                <li><a href="#" title="Back to results">Back to results</a></li>
                <li><a href="#" title="Change search">Change search</a></li>
            </ul>
            <!--//top right navigation-->
        </nav>
        <!--//breadcrumbs-->

        <div class="row">
            <!--three-fourth content-->
            <div class="three-fourth">
                <form id="booking" method="post" action="http://www.themeenergy.com/themes/html/book-your-travel/booking-step3.html" class="static-content booking">
                    <fieldset>
                        <h2><span>02 </span>Payment</h2>
                        <div class="row">
                            <div class="f-item one-half">
                                <label>Card type</label>
                                <select>
                                    <option selected>Select card type</option>
                                    <option>Mastercard</option>
                                    <option>Visa</option>
                                    <option>American Express</option>
                                </select>
                            </div>
                            <div class="f-item one-half">
                                <label for="card_number">Card number</label>
                                <input type="number" id="card_number" name="card_number" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="f-item one-third">
                                <label for="card_holder">Name on card</label>
                                <input type="text" id="card_holder" name="card_holder" />
                            </div>
                            <div class="f-item one-third datepicker">
                                <label for="expiration_date">Expiration Date </label>
                                <div class="datepicker-wrap"><input type="text" id="expiration_date" name="expiration_date" /></div>
                            </div>
                            <div class="f-item one-third">
                                <label for="cv2_number">CV2 Number</label>
                                <input type="number" id="cv2_number" name="cv2_number" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="f-item full-width checkbox">
                                <input type="checkbox" name="check" id="check" value="ch1" />
                                <label>Yes, I have read and I agree to the <a href="#">booking conditions</a>.</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="full-width">
                                <input type="submit" class="gradient-button" value="Submit booking" id="next-step" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!--//three-fourth content-->
            <!--right sidebar-->
            <aside class="one-fourth right-sidebar">
                <!--Booking details-->
                <article class="hotel-details booking-details">
                    <h1>
                        Best ipsum hotel
                        <span class="stars">
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE838;</i>
                            <i class="material-icons">&#xE838;</i>
                        </span>
                    </h1>
                    <span class="address">Marylebone, London</span>
                    <span class="rating"> 8 /10</span>
                    <dl class="booking-info">
                        <dt>Rooms</dt>
                        <dd>Standard twin room</dd>
                        <dt>Room Description</dt>
                        <dd>Room only</dd>
                        <dt>Check-in Date</dt>
                        <dd>14-11-12</dd>
                        <dt>Check-out Date</dt>
                        <dd>15-11-12</dd>
                        <dt>Room(s)</dt>
                        <dd>1 night, 1 room, max. 2 people. </dd>
                    </dl>
                    <div class="price">
                        <p class="total">Total Price:  $ 55,00</p>
                        <p>VAT (20%) included</p>
                    </div>
                </article>
                <!--//Booking details-->
                <!--Need Help Booking?-->
                <article class="widget">
                    <h4>Need Help Booking?</h4>
                    <p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
                    <p class="number">1- 555 - 555 - 555</p>
                </article>
                <!--//Need Help Booking?-->
            </aside>
            <!--//right sidebar-->
        </div>
        <!--//main content-->
    </div>
</main>
<!--//main-->

